<ion-view view-title="How To Play">
  <ion-content>
    <ion-list>
    </ion-list>
	<section id="how-to-play">
		<section>
			<div id="title">
				<h2>270</h2>
				<h4>Race to the White House</h4>
			</div>
		</section>
		<div class="padding">			
			<p>Welcome to <strong>270</strong>, a simple trivia game where you must compete in swing states in order to get enough electoral votes to win the Presidency.</p>
			<p>To obtain electoral college votes you must answer trivia questions in a state.</p>
			<p>Like the real elections, every state is winner take all. Your score must be above 50% to get that state's electoral votes.</p>
			<p>Once a candidate has reached over 50% of the available state points you can either continue in that state or move on, however continuing to play will not change who won the state.</p>
			<p>It is important to note that the bigger the card on the state is, the harder the question should be. Generally the hardest questions are at the top and the easiests at the bottom.</p>
			<p>You can reset the game at any time if you wish to start over or to choose the other party by simply going into the <strong>Me</strong> tab and tapping on the <strong>Reset</strong> button.</p>
			<p>The <strong>Me</strong> tab also displays information about the candidate such as their vote percentages in each state.</p>
			<p><em>Special thanks to Mapglyphs for the state icons.</em></p>
		</div>
		<footer>
		  <p>&copy; Erick Sauri 2016</p>
		</footer>
    </section>	
  </ion-content>
</ion-view>
