<ion-tabs class="tabs-icon-top ">

  <!-- Main Tab -->
  <ion-tab title="States" icon-off="mg map-us" icon-on="mg map-us" href="#/270/states">
    <ion-nav-view name="270-states"></ion-nav-view>
  </ion-tab>
	
	<!-- Profile Tab -->
  <ion-tab title="Me" icon-off="ion-person" icon-on="ion-person" href="#/270/account">
    <ion-nav-view name="270-account"></ion-nav-view>
  </ion-tab>
	 <!-- Instructions Tab -->
  <ion-tab title="How to Play" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/270/instructions">
    <ion-nav-view name="270-instructions"></ion-nav-view>
  </ion-tab>
</ion-tabs>
